---
name: Build Stable ISOs
on:
  workflow_dispatch:
    inputs:
      upload_artifacts:
        description: 'Upload ISOs as job artifacts'
        type: boolean
        default: false
      upload_r2:
        description: 'Upload ISOs to Cloudflare R2'
        type: boolean
        default: true
  schedule:
    - cron: "15 3 * * TUE" # Push to testing bucket every week at 03:15 on Tuesdays - 2h after Aurora publishes weekly builds.

jobs:
  build-iso-stable:
    name: Build Stable ISOs
    uses: ./.github/workflows/reusable-build-iso-anaconda.yml
    secrets: inherit
